@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;600;800&display=swap');

:root {
    --color-secondary: #cbcbcc;
    --color-white: #fff;
    --color-blue: #0071e3;
    --color-green:#00ff41;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    color: var(--color-white);
    height: 300vh;
    background: black;
    max-width: 100vw;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header-items {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
    font-size: 11px;
    letter-spacing: 1.2px;
    max-width: 980px;
    margin: auto;
    font-weight: 400;
}

.header-items-mobile {
    display: none;
    justify-content: space-between;
    margin: 0 1rem;
    padding: 1rem;
}

.header-items a, 
.header-items-mobile a
{
    color: var(--color-secondary);
    padding: 1rem 0;
}

.header-items a:hover,
.header-items-mobile a:hover
{
    transition: 0.3s;
    color: var(--color-white);
}

.ap-title {
    font-size: 1.4rem;
    color: var(--color-white);
}


.ap-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.ap-link {
    color: var(--color-white);
    font-size: 11px;
}

.ap-link:hover {
    transition: 0.3s;
    color: var(--color-blue);
}

#ap-btn {
    border-radius: 20px;
    padding: 5px 12px;
    background-color: var(--color-blue);
    color: var(--color-white);
}

#ap-selected {
    color: var(--color-secondary);
    cursor: default;
}

.header-fixed {
    display: flex;
    max-width: 950px; 
    justify-content: space-between;
    margin: auto;
    padding: 1rem 0;
    border-bottom: 1px solid var(--color-secondary);
}

.banner {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem 0;
    position: relative;
    height: 250vh;
}

.sub-banner {
    position: sticky;
    top: 120px;
    height: 200vh;
}

.banner .an {
    color: var(--color-green);
    font-size: 1.75rem;
}

.banner-heading {
    font-size: 12vw;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.banner-sub-container {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    color: var(--color-white);  
}

.banner-text {
    font-size: 1.3rem;
    border-bottom: 1px solid transparent;
}

.banner-text:hover {
    border-bottom: 1px solid var(--color-white);
}

canvas {
    position: fixed;
    top: -20%;
    max-width: 100vw;
    z-index: 1;
}

.banner-rebuilt {
    font-size: 6vw;
    position: relative;
    top: -10%;
}

@media screen and (max-width:930px) {
    .header-items {
        display: none;
    }

    .ap-link {
        display: none;
    }

    #ap-btn {
        display: flex;
        align-self: center;
    }

    .header-items-mobile {
        display: flex;
    }
}